{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/_styles.html' %}

    <title>
      {% block title %}
      {% endblock title %}
    </title>
</head>
<body>
    <!-- Back Button -->
    <div class="position-absolute top-0 start-0 m-3">
        <a href="{% url 'home' %}" class="btn btn-back px-4 py-2">
            <i class="fas fa-arrow-left me-2"></i>Back
        </a>
    </div>

    <!-- Centered Card -->
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card center-card">
            {% if flower.photo %}
                <img src="{{ flower.photo.url }}" class="card-img-top" alt="{{ flower.name }}">
            {% else %}
                <img src="https://via.placeholder.com/500x250" class="card-img-top" alt="Default image">
            {% endif %}
            <div class="card-body text-center">
                <h3 class="card-title mb-3" style="font-weight: bold; color: #333;">
                    {{ flower.name }}
                </h3>
            </div>
            <div class="card-footer d-flex justify-content-between text-muted" style="font-size: 14px;">
                <span><i class="fas fa-calendar-alt"></i> {{ flower.production_date|date:"D d F Y" }} {{ flower.production_date|time:"H:i" }}</span>
                <span><i class="fas fa-eye"></i> {{ flower.color }}</span>
                <span><i class="fas fa-tags"></i> {{ flower.price }}</span>
            </div>
        </div>
    </div>
    <div class="card shadow-sm border-light mb-5">
        <div class="card-body">
            <h5 class="card-title mb-2">Izoh qoldirish</h5>
            <form method="POST" action="{% if update %}{% url 'updateComment' comment.id %} {% else %} {% url 'comment_save' flower.id %} {% endif %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.text.id_for_label }}" class="form-label">{{ form.text.label }}</label>
                    {{ form.text }}
                </div>
                <button type="submit" class="btn btn-primary">{% if update %} Izohni yangilash {% else %} Izoh qo'shish {% endif %}</button>
            </form>
        </div>
    </div>


    <h5 class="mb-4">Izohlar:</h5>
    {% if comments %}
    <div class="list-group">
        {% for comment in comments %}
        <div class="list-group-item list-group-item-action mb-2 shadow-sm position-relative">
            <div class="d-flex w-100 justify-content-between">
                <div>
                    <h6 class="mb-1">{{ comment.author }}</h6>
                    <small class="text-muted">{{ comment.created }}</small>
                </div>

                {% if request.user == comment.author or request.user.is_superuser %}
                <div class="comment-icons position-absolute top-0 end-0 p-2">
                    <a href="{% url 'updateComment' comment.id %}" class="text-dark me-2">
                        <i class="fas fa-pen" style="font-size: 0.9rem; transition: color 0.3s;"></i>
                    </a>
                    <a href="{% url 'deleteComment' comment.id %}" class="text-dark">
                        <i class="far fa-trash-can" style="font-size: 0.9rem; transition: color 0.3s;"></i>
                    </a>
                </div>
                {% endif %}
            </div>
            <p class="mb-1">{{ comment.text }}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-muted">Hozircha izohlar mavjud emas.</p>
    {% endif %}
</body>
</html>










